<div class="clubNews container-fluid">
	<div class="row card-header">
			<div class="col-md-8">
				Padel Club Maspalomas
			</div>
			<div class="col-md-3 pull-right clubCategory">
				Match
			</div>
	</div>
	<div class="row card-text">
		<div class="col-md-12">
			Need two player for a match on 12/09/16 at 18:00
		</div>
	</div>
</div>