<div class="clubNews container-fluid">
	<div class="home-photo">
		<img src="{{ asset('bundles/web/img/avatar.jpg') }}" />
	</div>
	<div class="card-header-friends">
		Match
	</div>
	<div class="card-text">
		¡Played a match with Fidel at Padel Club Maspalomas!
	</div>
</div>