<div class="clubNews container-fluid">
	<div class="row card-header">
			<div class="col-md-7">
				First Tournament
			</div>
			<div class="col-md-4 pull-right clubCategory">
				Currently Playing
			</div>
	</div>
	<div class="card-text">
		<div class="match-container">
			<div class="team">
				Fidel
				<br>
				Luis
			</div>
			<div class="score">5 VS 3</div>
			<div class="team right">	
				Fidel
				<br>
				Luis
			</div>
		</div>
	</div>
</div>