{% extends 'base/base.html.twig' %}
{% set active = 5 %}
{% block body %}
	<div class="container rounded-box">
		<a href="{{path('sendPasswordResetLink')}}">Reset your password</a>
	</div>
{% endblock %}