{% extends '/base/base.html.twig' %}
{% set active = -1 %}
{% block body %}
	<div class="container rounded-box">
		{{form_start(form)}}
		Username or Email {{form_widget(form.hint)}} <br />
		<button type="submit">Reset Password</button>
		{{form_end(form)}}
	</div>
{% endblock %}